/*************
Media Carousel
*************/

#media-carousel {
  width: 920px;
  left: 50%;
  margin-left: -470px;

  background: #0c3753;
  background: -moz-linear-gradient(top, #0c3753 0%, #043453 0%, #003456 1%, #003a61 1%, #003f67 2%, #00436e 3%, #00436e 59%, #003f68 72%, #00385c 82%, #002843 98%, #00263e 99%, #002136 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0c3753), color-stop(0%,#043453), color-stop(1%,#003456), color-stop(1%,#003a61), color-stop(2%,#003f67), color-stop(3%,#00436e), color-stop(59%,#00436e), color-stop(72%,#003f68), color-stop(82%,#00385c), color-stop(98%,#002843), color-stop(99%,#00263e), color-stop(100%,#002136));
  background: -webkit-linear-gradient(top, #0c3753 0%,#043453 0%,#003456 1%,#003a61 1%,#003f67 2%,#00436e 3%,#00436e 59%,#003f68 72%,#00385c 82%,#002843 98%,#00263e 99%,#002136 100%);
  background: -o-linear-gradient(top, #0c3753 0%,#043453 0%,#003456 1%,#003a61 1%,#003f67 2%,#00436e 3%,#00436e 59%,#003f68 72%,#00385c 82%,#002843 98%,#00263e 99%,#002136 100%);
  background: -ms-linear-gradient(top, #0c3753 0%,#043453 0%,#003456 1%,#003a61 1%,#003f67 2%,#00436e 3%,#00436e 59%,#003f68 72%,#00385c 82%,#002843 98%,#00263e 99%,#002136 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c3753', endColorstr='#002136',GradientType=0 );
  background: linear-gradient(top, #0c3753 0%,#043453 0%,#003456 1%,#003a61 1%,#003f67 2%,#00436e 3%,#00436e 59%,#003f68 72%,#00385c 82%,#002843 98%,#00263e 99%,#002136 100%);
}

.media-carousel-slide {
  width: 100%;
  padding: 10px;
  padding-bottom: 25px;
  height: 290px;


}

.media-carousel-slide .media-carousel-text-block {
  width: 370px;
  float: left;
  height: 100%;
  border: 1px solid #0071a5;
  margin-right: 10px;
  z-index: 500;
}

@media only screen and (min-width: 980px), only screen and (min-device-width: 980px) {
  .media-carousel-slide .media-carousel-text-block {
    background: #001b2e;
    border: 1px solid #0071a5;
    background: -webkit-gradient(radial, 185 -150, 300, 185 -50, 75, from(#001B2E), to(#0071A5));
  }
}
@media only screen and (max-width: 979px), only screen and (max-device-width: 979px) {
  .media-carousel-slide .media-carousel-text-block {
    background: #000; 
    border: none;
    background: rgba(0, 27, 46, .5);
  }
}


.media-carousel-slide .media-carousel-media-block {
  width: 530px;
  border: 1px solid #0071a5;
  margin-right: 20px;
  float: right;
  height: 100%;
}

.media-carousel-slide .media-carousel-title,
.media-carousel-slide .media-carousel-description {
  width: 288.996944233px;
  color: #6BCCF1;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  font-family: Georgia serif;
  font-size: 15px;
  margin-top: 20px;

  text-shadow: 0px 1px 0px rgba(0, 0, 0, .3);
}

.media-carousel-slide .media-carousel-title {
  max-height: 98px;
}

.media-carousel-slide .media-carousel-description {
  max-height: 110px;
  overflow: hidden;
}

.media-carousel-slide .media-carousel-title h2 {
  font-size: 28px;
  font-weight: normal;
  line-height: 33px;
  margin-bottom: -15px;
}

.media-carousel-slide .media-carousel-title h2 a {
  color: white;
  text-decoration: none;
}

.media-carousel-slide .media-carousel-nav {
  position: absolute;
  margin-left: 128px;
  margin-top: 245px;
  z-index: 500;
}

.media-carousel-slide .media-carousel-nav a {
  padding: 8px;
  font-size: 1px;
  color: #005b82;
  text-decoration: none;
  margin: 3px;
  background: #005b82;
  border-radius: 9px;
}

.media-carousel-slide .media-carousel-nav a.activeSlide,
.media-carousel-slide .media-carousel-nav a.activeSlide:hover {
  color: #FFF;
  background: #FFF;
}

.media-carousel-slide .media-carousel-nav a:hover {
  background: #0071A5;
  color: #0071A5;
}
